@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Narnoor&display=swap');

@font-face {
    font-family: caribbean;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}


.container {
    padding-top: 90px;
    background-image: url("/assets/images/team.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.heading {
    font-family: caribbean, 'Inclusive Sans', sans-serif;
    font-size: 36px;
    padding: 30px;
    text-shadow: 5px 5px 5px #fff;
    text-align: center;
}

.comingSoon {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.teamCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.teamCard {
    height: 300px;
    width: 300px;
    margin: 20px 0;
}

.contactUsContainer {
    /* font-family: 'Inclusive Sans', sans-serif; */
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 70%;
    margin: auto;
    padding: 3% 2%;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
} 

.socialIcon {
    margin-right: 8px;
    cursor: pointer;
}

.socialWrapper {
    min-width: 250px;
}

@media only screen and (max-width: 990px) {
    .teamCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .contactUsContainer {
        grid-template-columns: 1fr;
        
    }
}

@media only screen and (max-width: 670px) {
    .teamCards {
        grid-template-columns: 1fr;
    }

    .h2 {
        font-size: 20px;
    }

    .contactUsContainer {
        width: 95%;
    }

    .socialWrapper {
        min-width: 200px;
    }
}