@font-face {
  font-family: "Chelsea Market";
  src: url("/assets/fonts/cm/ChelseaMarket-Regular.ttf");
}


.sidenav {
    height: 95%;
    width: 300px;
    position: fixed;
   
    top: 2.5%;
    right: 0;
    background-color: rgb(19, 161, 213);
    overflow-x: hidden;
    transition: 2s;
    padding-top: 60px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    animation: slideIn 2s;
    -webkit-transition: all 1s ease-in-out;
    font-family: "Chelsea Market";

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    z-index: 4;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .sidenav button {
    padding: 8px;
    color: #fff;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
    display: block;
  }

  .sidenav button:hover {
    color: black;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .mySidenav{
    width: 250px;
  }