.technical {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(60.25% 0, 100% 0%, 100% 100%, 40.25% 100%);
  clip-path: polygon(60.25% 0, 100% 0%, 100% 100%, 40.25% 100%);
  transition: all 0.3s;
}

.open_page {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
}

.close_page {
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%) !important;
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%) !important;
}

.image {
  height: 100vh;
  width: 100vw;
  transition: all 0.3s;
  filter: brightness(40%);
}

.image img {
  transition: all 0.3s;
}

.cultural {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  transition: all 0.3s;
}

.image:hover {
  filter: brightness(100%);
}

.image:hover img {
  transform: scale(1.05);
}

.image.technical:hover {
  cursor: pointer;
  -webkit-clip-path: polygon(55% 0, 100% 0%, 100% 100%, 35% 100%);
  clip-path: polygon(55% 0, 100% 0%, 100% 100%, 35% 100%);
}

.image.cultural:hover {
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, 64.75% 0, 44.75% 100%, 0 100%);
  clip-path: polygon(0 0, 64.75% 0, 44.75% 100%, 0 100%);
}

.image.technical_small {
  -webkit-clip-path: polygon(65% 0, 100% 0%, 100% 100%, 45% 100%);
  clip-path: polygon(65% 0, 100% 0%, 100% 100%, 45% 100%);
}

.image.cultural_small {
  -webkit-clip-path: polygon(0 0, 54.75% 0, 34.75% 100%, 0 100%);
  clip-path: polygon(0 0, 54.75% 0, 34.75% 100%, 0 100%);
}

.culturalImage {
  height: 100vh;
  width: 100vw;
  transition: all 0.3s;
  object-fit: cover;
}

.technicalImage {
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease;
  object-fit: cover;
}

.header_large {
  font-size: 8em;
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  color: white;
  line-height: 1;
  --bs-text-opacity: 1;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
  transform: translateY(-50%) !important;
}

@media screen and (max-width: 1600px) {
  .header_large {
    font-size: 5em;
  }
}

@media screen and (max-width: 1200px) {
  .header_large {
    font-size: 3em;
  }
}

.shade {
  filter: brightness(60%);
}

.sideBySideContainer {
  display: flex !important;
}

.parallelContainer {
  display: none !important;
}

.imageParallelContainer {
  cursor: pointer;
  height: 50vh;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .sideBySideContainer {
    display: none !important;
    cursor: pointer;
  }

  .parallelContainer {
    display: flex !important;
    z-index: 1000;
    height: 100vh;
    flex-direction: column;
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .header_large {
    font-size: 1.8em;
  }
}