
@font-face {
    font-family: caribbean;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}

.main {
    padding: 80px 0;
    background: url('/assets/images/bg2.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.schedule {
    /* background: red; */
    height: 100%;
    width: 70%;
    overflow-y: scroll;
}

.heading {
    font-size: 20px;
    font-family: caribbean;
    color: white;
    text-align: center;
}