@font-face {
    font-family: caribbean;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}

.heading {
    font-family: caribbean;
    font-size: 36px;
    padding: 30px;
    text-align: center;
    padding-top: 90px;
    color: black;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/bg3.jpg");
    background-position: center;
    background-size: cover;
}