@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Narnoor&display=swap');

.heading {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 36px;
    padding: 30px;
    text-align: center;
    padding-top: 90px;
    color: white;
    background-image: url("/assets/images/bg.png");
}