.filter {
    cursor: default;
    background: #f1a661;
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0 0.25em;
    line-height: 2;
    color: black;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .activeTagStyle {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .inactiveTagStyle {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
  }