.wrapper {
    font-family: "Noto Sans JP", sans-serif;
    --surface-color: #fff;
    --curve: 40;
    height: 300px;
    width: 300px;
    margin: 25px;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.7rem;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card__title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 0.3rem;
    color: #2b2b2b;
}

.card__tagline {
    text-align: center;
    font-size: 1.2rem;
    color: #2b2b2b;
    font-weight: 600;
    padding-top: 0.6rem;
}

.icons {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fab {
    color: #2b2b2b;
}
