@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Narnoor&display=swap");

@font-face {
    font-family: caribbean;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}


.background {
    background-image: url("/assets/images/team.jpg");
    min-height: 91vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_container {
    overflow-x: hidden;
    padding-top: 80px;
}

.pageheader {
    color: white !important;
    font-family: caribbean, cursive;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #000;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    /* margin: 20px auto; */
    /* padding: 10px 10px; */
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .background {
        background-image: url("/assets/images/team.jpg");
    }

    .pageheader {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
}
