@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Narnoor&display=swap");

.coreTeamContainer {
    background: linear-gradient(#2b124c,#190019);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100vw;
}

.coreTeamSidebar {
    box-sizing: border-box;
    margin-left: 2vw;
    margin-right: 4vw;
}

.sidebarParent {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 25vh;
}

.sidebar {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sidebar li a {
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    transition: background-size .45s .04s;
}

.sidebar a {
    text-decoration: none;
}