@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Narnoor&display=swap");

.coreTeamContainer {
  background-image: url("/assets/organisers/background.png");
  background-attachment: fixed;
}

.coreTeamSidebar {
  box-sizing: border-box;
  margin-left: 2vw;
  margin-right: 4vw;
}

.organisers {
  width: 100%;
  margin-left: 30%;
  margin-top:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: large;
}

@media screen and (max-width: 879px) {
  .organisers {
    margin-left: 0%;
  }
}
