.cover {
  background-image: url("/assets/images/team.jpg");
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
}

@font-face {
  font-family: caribbean;
  src: url("/assets/fonts/poc/Caribbean.ttf");
}

.eventHeading {
  color: black;
  display: flex;
  font-size: 2rem;
  text-shadow: 5px 5px 5px #fff;
  justify-content: center;
  font-family: caribbean;
  padding: 20px 0;
}

.tabContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;  
}

.tagsBox {
  /* border: 2px solid blue; */
  margin: 20px 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 300px;
  width: 100%;
  min-width: 280px;
  justify-items: start;
  text-align: start;
  align-items: center;
  overflow-y: scroll;
}

.eventCards {
  display: flex;
  flex-wrap: wrap;
}

.tempEventCardContainer {
  display: flex;
  flex-direction: column; 
  border: 2px solid red;
  padding: 20px;
  max-width: 400px;
  margin: 15px;
  border-radius: 15px;
}