.cover {
  background-image: url("/assets/images/bg.png");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
}

@font-face {
  font-family: caribbean;
  src: url("/assets/fonts/poc/Caribbean.ttf");
}

.eventHeading {
  align-items: center;
  color: #acebf6;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 50px;
  position: relative;
  width: 100vw;
  z-index: 0;
  font-family: caribbean;
}

.card {
  background-color: '#2196F3';
  color: '#fff';
  border-radius: 1;
  box-shadow: '0px 4px 6px rgba(0, 0, 0, 0.1)';
}

.largeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventTypeButtonDiv {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.eventTypeButton {
  margin: 10px;
  padding: 10px;
  width: 90vw;
  max-width: 400px;
  font-size: 2rem;
  font-weight: 800;
}

.comingSoon {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pirateShipContainer {
  padding: 10px 50px;
  background: rgba(255, 255, 255, 0.2); /* Adjust the opacity (4th parameter) for frosted effect */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  text-align: center;
  color: #fff; /* Text color inside the container */
  width: fit-content;
  margin: auto;
}