@font-face {
    font-family: caribbean;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}

.main {
    background-image: url('/assets/images/compressed/team.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: auto;
    position: absolute;
    overflow-y: hidden;
  }
  
  .main__frame {
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
    padding: 2% 5%;
    justify-content: center;
    margin-top: 80px;
    /* align-items: center; */
    /* margin-top: 30px; */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 10px;
  }
  
  .pageheader {
    color: white !important;
    font-family: 'caribbean';
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #000;
    text-align: center;
  }
  
  .btn {
    background-color: black;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  @media only screen and (max-width: 600px) {
    .main__frame {
      /* background-color: rgba(0, 0, 0, 0); */
      margin-top: 1rem;
      min-height: 91vh;
    }
  
    
    .links {
      color: black;
    }
  }
  