.comingSoon {
    text-align: center;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url("/assets/fonts/poc/Caribbean.ttf");
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: url("/assets/background/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 90px;
}

.heading {
    text-align: center;
    position: fixed;
    /* z-index: 5; */
    top: 90px;
    left: 20px;
    height: 100vh;
    width: 30%;
    color: white;
}

.heading p {
    font-size: 20px;
}

.section {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    left: 30%;
    width: 70vw;
    margin-right: 10px;
    flex-direction: column;
}
.sectionDesign {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}
.subSection {
    flex: 0 0 33.333333%;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.subheading {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-family: myFirstFont;
    color: white;
}
.subheading1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-family: myFirstFont;
    color: white;
    margin-bottom: 20px;
}
.subheading2 {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    /* font-family: myFirstFont; */
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    /* margin-right: 20px; */
}

.gridContainer {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the gap as needed */
}

.gridItem {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}
.sectionHeading {
    text-align: center;
    font-size: 30px;
    /* font-family: myFirstFont; */
    color: white;
}

@media screen and (max-width: 800px) {
    .subheading {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .subheading1 {
        font-size: 50px;
    }
    .subheading {
        font-size: 30px;
    }
    .sectionHeading {
        font-size: 20px;
    }
    .subheading2 {
        display: none;
    }
    .main {
        flex-direction: column;
    }
    .heading {
        height: 100%;
        /* background-color: rgba(0, 0, 128, 0.4); */
        position: sticky;
        width: 100%;
        height: 100%;
        top: 70px;
    }

    .section {
        width: 100vw;
        left: 0;
        margin: 0;
        top: 130px;
    }
}
